/* LOGIN CSS */
.login-container {
    text-align: center;
    height: 100vh;
    background-color: rgb(255, 247, 235);
}

.login-contents {
    top: 10%;
}

#login-text {
    font-size: 20px;
}

#login-box {
    font-size: 30px;
}

.login-button {
    font-size: 30px;
}

/* MAIN FORM CSS */
#the-form {
    width: 100%;
    z-index: 1;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

#form-page {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 247, 235);
}

#title {
    font-family: Georgia, sans-serif;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
}

#all-fields, h4 {
    font-size: 20px;
    font-family: Georgia, sans-serif;
}

/* INPUT & BUTTONS */
input, select, button {
    font-size: 20px;
    margin: 5px;
    margin-left: 0px;
    font-family: Georgia, sans-serif;
}

input[type="date"] {
    font-family: Georgia, sans-serif;
    color: gray;
}

input[type="number"] {
    width: 50px;
}

hr {
    border-top:1px dotted #000;
    text-align: center;
}

#notes {
    height: 140px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#basic-info {
  margin: 0px;
}

.inline-input {
    margin-left: 5px;
    width: 160px;
    border-radius: 15px, 0px, 15px, 0px;
}

body {
    margin: 0px;
}

.indented {
    margin-left: 40px !important;
}

/* ALERT CSS */
h4 {
    color: red;
}

/* COLUMNS & ROWS */
.row {
display: flex;
}

.center-div {
    text-align: center;
    float: inline-end;
}

#home, #forms-page {
    margin-left: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.view-form-button {
    margin: 5px;
}

.form-element {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 944px) {
    html {width: 100%;}
    .toolbar{width: 95%;}
} 


@media screen and (max-width: 758px) {
    /* #the-form {width: 100%;}
    #form-page {display: 100%;}
    html {width: 100%;} */
  }


